# make it pretty
set colored-stats On
set colored-completion-prefix On

# completion settings
set show-all-if-ambiguous on
set completion-ignore-case on
# If there are multiple matches for completion, Tab should cycle through them
TAB: menu-complete
# And Shift-Tab should cycle backwards
"\e[Z": menu-complete-backward
# Display a list of the matching files
set show-all-if-ambiguous on
# Perform partial (common) completion on the first Tab press, only start
# cycling full results on the second Tab press (from bash version 5)
set menu-complete-display-prefix on

# map C-w delete a word
set bind-tty-special-chars Off
"\C-w": backward-kill-word

